.navbar-nav {
    margin-right: 5%;
}

.language-selection-item {
    visibility: hidden;
}


/* Pricing */
.plan-included {
    color: #5f2eed;
}

.plan-excluded {
    color: #f0002d;
}


/* Blog */
.blog_img {
    background: rgba(12,0,46,.06);
}







/*
    RESPONSIVE STYLINGS
*/

@media screen and (max-width: 991px) {

    .header_area.navbar_fixed .menu_five .btn_get,
    .menu_five .btn_get {
        border-color: #3d64f4;
        color: #3d64f4;
        display: inline-block;
    }
}

@media (max-width: 418px) {

    .nav-button-group,
    home-button-group > a{
        margin-bottom: 2.5%;
    }

    

}