.navbar-nav {
    margin-right: 5%;
}

.language-selection-item {
    visibility: hidden;
}


/* Pricing */
.plan-included {
    color: #5f2eed;
}

.plan-excluded {
    color: #f0002d;
}









@media screen and (max-width: 991px) {

    .header_area.navbar_fixed .menu_five .btn_get {
        border-color: #3d64f4;
        color: #3d64f4;
        display: inline-block;
    }
}