/* 
    Description: Customization for BrandBook Frontend
    Author     : Philipp C. Moser.
   
*/


h1, h2 {
    &.strong-title-900 {
        font-weight: 900 !important;
    }

    &.strong-title-600 {
        font-weight: 600 !important;
    }
}

/* Homepage Title-Image */
@media(max-width:992px) {
    .theme-banner-two .main-text-wrapper {
        padding: 600px 0 245px !important;
    }
}

@media(max-width: 375px) {
    .theme-banner-two .main-text-wrapper {
        padding: 400px 0 245px !important;
    }
}



.nav-button {
    color: #ffffff !important;
    font-weight: 600;
}

.checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}




/*  Pricing  */
.pricing-container {
    font-size: 15px;


    .pricing-title {
        font-size: 30px;
    }
}




h1.pricing-title {
    font-size: 40px;
}

.pricing-card {
    background-color: transparent !important;
}

.pricing-body {
    background-color: #ffffff;
}

.pricing-description {
    min-height: 175px;
}

a.btn-pricing {
    color: #ffffff !important; 
}




.cultureSelection form input[type="radio"] {
    display: none;
}

.cultureSelection label.checked {
    border-bottom: 5px solid green;
}








/*
    Cookie-Consent
*/
div#cookieConsentBox {
    position: fixed;
    left: 12.5%;
    right: 12.5%;
    bottom: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 75%;
    z-index: 999999;
    font-size: 12px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
    

    .content {
        padding: 4%;

        a.btn-cookie-acceptance {
            line-height: 35px;
            border: 1px solid #193357;
            background-color: transparent;
            border-radius: .25rem;
            color: #193357;
            padding: 0 20px;
            font-size: 12px;

            &:hover {
                border-color: #efd421;
                background-color: #efd421;
                color: #161616;
            }
        }
    }
}


@media only screen and (min-width: 1500px) {
    div#cookieConsentBox {
        left: 25%;
        right: 25%;
        width: 50%;
    }
}    

@media only screen and (max-width: 375px){
    div#cookieConsentBox {
        left: 2.5%;
        right: 2.5%;
        width: 95%;
    }
}




/*
    Legal Pages
*/

.privacy-policy,
.cookie-terms {
    h3 {
        font-size: 20px;
        margin: 5% 0 1% 0;
    }

    p {
        font-size: 15px;
    }

    table {
        margin: 2.5% 0 2.5% 0;
    }

    table th, table td {
        font-size: 15px;
    }
}


/*
    Contact Form
*/
.contact-section-dark form input,
.contact-section-dark form textarea {
    color: #ffffff !important;
}

.bb-contact-form {

    input {
        border: 1px solid black !important;
    }

}