/* Responsive CSS Document */

/* 
    Description: BrandBook
    Version    : 2.0.
    Author     : Philipp C. Moser.
   
*/


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,900&display=swap');

@mixin default-font-family {
    font-family: 'Nunito', Arial, sans-serif;
}