
@{
    ViewBag.Title = "Markenübersicht";
    Layout = "~/Areas/App/Views/Shared/Layout/_Layout.cshtml";
}



<div class="row">
    <div class="col-sm-6 col-lg-4 col-xs-12">
        <!-- Simple card -->
        <div class="card m-b-20">
            <img class="card-img-top img-fluid" src="https://content.philipp-moser.de/wlo0t5byw6/BrandData/1e829ca5-c778-4529-b5e8-01ee8ead6633.jpg" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Philipp C. Moser</h2>
                <p class="card-text">
                    Ubuntu is an open source software operating system that runs from the desktop, to the cloud, to all your internet connected things. 
                </p>
                <a href="#" class="btn btn-primary" style="background-color: #193357; border: none;">Marke öffnen</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 col-xs-12">
        <!-- Simple card -->
        <div class="card m-b-20">
            <img class="card-img-top img-fluid" src="https://content.philipp-moser.de/wlo0t5byw6/BrandData/4444eb1a-83ce-499d-8901-febbfd680bd8.jpg" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Ubuntu</h2>
                <p class="card-text">
                    Ubuntu is an open source software operating system that runs from the desktop, to the cloud, to all your internet connected things.
                </p>
                <a href="#" class="btn btn-primary" style="background-color: #E95420; border: none;">Marke öffnen</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 col-xs-12">
        <!-- Simple card -->
        <div class="card m-b-20">
            <img class="card-img-top img-fluid" src="https://content.philipp-moser.de/wlo0t5byw6/BrandData/96abb3a0-38c4-4f58-9f7b-fda37ebded25.jpg" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Microsoft</h2>
                <p class="card-text">
                    At Microsoft our mission and values are to help people and businesses throughout the world realize their full potential.
                </p>
                <a href="#" class="btn btn-primary" style="background-color: #293283; border: none;">Marke öffnen</a>
            </div>
        </div>
    </div>


</div>

