<div class="row">
    <div class="col-12 mt-5 mb-5" style="text-align: center; color: #98a6ad;">
        BrandCi v@(System.Configuration.ConfigurationManager.AppSettings["AppVersion"])
    </div>
</div>
