<div id="cookieConsentBox" class="row">
    <div class="col-lg-12">
        <div class="box_alert media">
            <div class="icon"><i class="fas fa-cookie-bite"></i></div>
            <div class="media-body">
                <h5>
                    We use cookies
                </h5>
                <p>
                    @Translations.frontend_legal_cookieconsent_text 
                    <a href="@Url.Action("Cookie", "Legal", new {area = ""})">@Translations.frontend_legal_cookieconsent_link_text</a>
                </p>
                <p>
                    <a href="#" id="acceptCookiesButton" class="btn_three sign_btn_transparent mt_c20">@Translations.frontend_legal_cookieconsent_accept_button_text</a>
                </p>
            </div>
        </div>
    </div>
</div>