.custombox-modal-wrapper,
.modal-demo {
    text-align: left !important;
}

.custom-modal-text {
    padding: 50px;
}


.required-form-item {
    color: #ef5350;
}
.required-form-item::after {
    content: '*';
}


// Datatables
.dataTable {
    .selected td,
    .selected td a {
        color: $light;
    }

    td a {
        text-decoration: underline;
    }
}



/*
    Add Brand Wizard
*/

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
    background: $primary !important;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active {
    background-color: lighten($primary, 25%) !important;
}


.badge.subscription {
    float: right;
    margin-left: .5%;
}