.custombox-modal-wrapper,
.modal-demo {
    text-align: left !important;
}

.custom-modal-text {
    padding: 50px;
}


// Datatables
.dataTable {
    .selected td,
    .selected td a {
        color: $light;
    }

    td a {
        text-decoration: underline;
    }
}
