@using BrandCi.Web.Framework.HtmlHelpers
@{
    ViewBag.Title = "VersionInfo";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}


@AuthCustomHelper.RenderBackground("b14828a6-69ac-4d63-a7e0-0f442729e318", "svg")

<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
            <h3>VersionInfo</h3>
            <p>
                BrandCi v@(System.Configuration.ConfigurationManager.AppSettings["AppVersion"])
            </p>

            <div class="page-links mt-5">
                <a href="@Url.Action("Index", "Login", new {area = "Auth"})"><i class="fas fa-chevron-left"></i>&nbsp;@Translations.auth_back_button_title</a>
            </div>

        </div>
    </div>
</div>