<div class="row">
    <div class="col-lg-4 col-xl-4">
        <div class="card text-center">
            <div class="card-body">
                <img src="https://www.gravatar.com/avatar/b4ae48151f3daeeb0f9d2694acfdd9e0?d=retro&s=75" class="rounded-circle avatar-xl img-thumbnail"
                alt="profile-image">

                <h4 class="mt-3 mb-0">Philipp Moser</h4>
                <p class="text-muted">@pmoser</p>

                <div class="text-left mt-3">

                     <div class="table-responsive">
                        <table class="table table-borderless table-sm">
                            <tbody>
                                <tr>
                                    <th scope="row">Name:</th>
                                    <td class="text-muted">Philipp Moser</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mobile:</th>
                                    <td class="text-muted">01627587669</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email:</th>
                                    <td class="text-muted">account@philipp-moser.de</td>
                                </tr>
                                <tr>
                                    <th scope="row">Location:</th>
                                    <td class="text-muted">Germany</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <ul class="social-list list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i
                                class="mdi mdi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                                class="mdi mdi-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                                class="mdi mdi-skype"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                                class="mdi mdi-github"></i></a>
                    </li>
                </ul>
            </div>
        </div> <!-- end card-box -->

    </div> <!-- end col-->

    <div class="col-lg-8 col-xl-8">
        <div class="card">
            <div class="card-body">
                <form>
                    <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle mr-1"></i> Personal Info</h5>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" class="form-control" id="firstname" placeholder="Enter first name" value="Philipp">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Enter last name" value="Moser">
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="useremail">Email Address</label>
                                <input type="email" class="form-control" id="useremail" placeholder="Enter email" value="account@philipp-moser.de">
                                <span class="form-text text-muted"><small>If you want to change your email please <a href="javascript: void(0);">click</a> here.</small></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="userpassword">Password</label>
                                <input type="password" class="form-control" id="userpassword" placeholder="Enter password" value="***************">
                                <span class="form-text text-muted"><small>If you want to change your password please <a href="javascript: void(0);">click</a> here.</small></span>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                    <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-earth mr-1"></i> Social</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="social-fb">Facebook</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-facebook-square"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="social-fb" placeholder="Url">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="social-lin">Linkedin</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-linkedin"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="social-lin" placeholder="Url">
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="social-sky">Skype</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-skype"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="social-sky" placeholder="@username">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="social-gh">Github</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-github"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="social-gh" placeholder="Username">
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                    <div class="text-right">
                        <button type="submit" class="btn btn-success waves-effect waves-light mt-2"><i class="mdi mdi-content-save"></i> Save</button>
                    </div>
                </form>
            </div>
        </div> <!-- end card-->

    </div> <!-- end col -->
</div>