@{
    ViewBag.Title = "Login";
}
@section ColorStyle
{
    @Styles.Render("~/Content/Css/Styling/02")
}



<div class="contact-us-one" id="contact">
    <div class="overlay">
        <div class="container">
            <div class="theme-title text-center">
                <h2 class="strong-title-900">Anmelden</h2>
                <p>Melde Dich an, um Deine Marken zu verwalten und zu verbessern.</p>
            </div>

            @using (Html.BeginForm("Login", "Authorization", FormMethod.Post, new { @class = "form-validation", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="username">
                        Nutzername
                    </label>
                    <div class="col-md-10">
                        <input type="text" id="username" class="form-control" placeholder="Nutzername" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">
                        Passwort
                    </label>
                    <div class="col-md-10">
                        <input type="password" id="password" class="form-control" autocomplete="off" placeholder="Passwort" />
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Anmelden
                    </button>
                </div>
                <br />
                <text>
                    Noch kein Account? <a href="@Url.Action("Register", "Authorization")">Hier registrieren</a>
                </text>





            }


            <div class="alert-wrapper" id="alert-error">
                <div id="error">
                    <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <div class="wrapper">
                        <p>Bitte überprüfe Deine Anmeldedaten.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.overlay -->
</div>