<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Brand Management, BrandBook">
        <meta name="author" content="Philipp C. Moser">
        <meta name="description" content="Brand Book V2">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - BrandBook</title>
        @Styles.Render("~/Content/Css/Auth/Main")
    </head>
    <body>
        <div class="form-body without-side">        
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </body>
</html>