$bci-custom-palette: (
    50 : #e3e7eb,
    100 : #bac2cd,
    200 : #8c99ab,
    300 : #5e7089,
    400 : #3c5270,
    500 : #193357,
    600 : #162e4f,
    700 : #122746,
    800 : #0e203c,
    900 : #08142c,
    A100 : #6794ff,
    A200 : #3470ff,
    A400 : #014cff,
    A700 : #0044e6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
