<app-layout-top-bar></app-layout-top-bar>

<app-layout-left-sidebar></app-layout-left-sidebar>

<!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->

<div class="content-page">
  <div class="content">

      <!-- Start Content-->
      <div class="container-fluid">

          <app-layout-title-and-breadcrumb></app-layout-title-and-breadcrumb>

          <div class="row">
            <div class="col-12">
                <router-outlet></router-outlet>
            </div>
        </div>

      </div>

  </div>

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->