
@{
    ViewBag.Title = "Preisstruktur";
}
@section ColorStyle
{
    @Styles.Render("~/Content/Css/Frontend/Styling/02")
}

<div class="theme-top-section">
    <img src="~/Content/Images/Home/background-01.png" alt="" class="blue-shape">

    <div class="contact-us-one">
        <div class="overlay">
            <div class="container">

                <div class="theme-title text-center mt-5 mb-5">
                    <h2 class="strong-title-900">Preisstruktur</h2>
                    <p>Du und Dein Team können die Versionen jeweils 7 Tage lang kostenlos testen.</p>
                </div>

                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4">
                        <div class="card-header">
                            <img src="https://content.philipp-moser.de/wlo0t5byw6/78ac03fb-5a19-410b-85c2-cc4c9733cb9e.svg" />
                            <h4 class="mt-3 mb-3 font-weight-normal">Privat</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-title">5 € <small class="text-muted">/ Monat</small></h1>
                            <ul class="list-unstyled mt-3 mb-4 pricing-description">
                                <li>Eine Marke</li>
                                <li>5 Benutzer</li>
                                <li>500 MB Speicherplatz</li>
                                <li></li>
                            </ul>
                            <a class="btn btn-lg btn-block btn-primary btn-pricing">Kostenlos testen</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <img src="https://content.philipp-moser.de/wlo0t5byw6/e24d2d3c-0ee7-44fb-80c5-ef55a9f55518.svg" />
                            <h4 class="mt-3 mb-3 font-weight-normal">Professional</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-title">$10 <small class="text-muted">/ Monat</small></h1>
                            <ul class="list-unstyled mt-3 mb-4 pricing-description">
                                <li>Eine Marke</li>
                                <li>10 Benutzer</li>
                                <li>1 GB Speicherplatz</li>
                                <li>Öffentliche Freigabe</li>
                            </ul>
                            <a class="btn btn-lg btn-block btn-primary btn-pricing">Kostenlos testen</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header pricing-header">
                            <img src="https://content.philipp-moser.de/wlo0t5byw6/addb504b-5edc-4de8-a2f5-4c7996deb10c.svg" />
                            <h4 class="mt-3 mb-3 font-weight-normal">Unternehmen</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-title">$25 <small class="text-muted">/ Monat</small></h1>
                            <ul class="list-unstyled mt-3 mb-4 pricing-description">
                                <li>2 Marken</li>
                                <li>50 Benutzer</li>
                                <li>10 GB Speicherplatz</li>
                                <li>Öffentliche Freigabe</li>
                                <li>Analytics</li>
                            </ul>
                            <a class="btn btn-lg btn-block btn-primary btn-pricing">Kostenlos testen</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <img src="https://content.philipp-moser.de/wlo0t5byw6/48df6de6-ed3f-4cd8-bce7-592639601425.svg" />
                            <h4 class="mt-3 mb-3 font-weight-normal">Agenturen</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4 pricing-description">
                                <li>Unbegrenzte Marken</li>
                                <li>50+ Benutzer</li>
                                <li>10+ GB Speicherplatz</li>
                                <li>Private Cloud</li>
                            </ul>
                            <h1 class="card-title pricing-title" style="visibility: hidden;">%Price$</h1>
                            <a class="btn btn-lg btn-block btn-primary btn-pricing">Kontakt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.html-top-content -->