@{
    ViewBag.Title = "Blog Overview";
}
@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}
@section styles {
    @Styles.Render("~/Content/Plugins/Datatables")
}


<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
            <p class="text-muted font-14 m-b-30"></p>

            <table id="blogOverview-datatable" class="table table-bordered dt-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>UrlKey</th>
                        <th>CreationTime</th>
                    </tr>
                </thead>


                <tbody>


                

                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end row -->






@section scripts{
    @Scripts.Render("~/bundles/Plugins/Datatables")

    <script type="text/javascript">

        $('#blogOverview-datatable').DataTable();

    </script>
}