@{
    ViewBag.Title = "Welcome";
}
@section ColorStyle
{
    @Styles.Render("~/Content/Css/Styling/02")
}

<!-- ^^^^^^^^^^^^^^^^^ Theme Banner ^^^^^^^^^^^^^^^ -->
<div id="theme-banner" class="theme-banner-two">
    <img src="~/Content/Images/Home/shape-02.png" alt="" class="cube-shape">
    <img src="~/Content/Images/Home/shape-01.png" alt="" class="illustration">
    <div class="container">
        <div class="main-text-wrapper">
            <h1>Next Level <br>Brand Management <br>For You.</h1>
            <p>Now it's much easier to build and manage your excellent brand!</p>
            <ul class="button-group clearfix">
                <li><a href="#">Try for free</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="partner-slider">
            <div class="item"><a href="#"><img src="images/logo/p-6.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="images/logo/p-7.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="images/logo/p-8.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="images/logo/p-9.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="images/logo/p-10.png" alt=""></a></div>
        </div>
    </div>
</div> <!-- /.theme-banner-one -->


<div class="about-cryto" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-last">
                <div class="theme-title">
                    <div class="upper-heading">What is crypto?</div>
                    <h2>Let us introduce about the Crypto currency</h2>
                </div> <!-- /.theme-title -->
                <p class="sub-text">cryto came into being clear vision to become a global leader in the world of crypto currency market.</p>
                <p class="text">Lorem ipsum dolor sit amet, has at lorem utinam mucius, per at elitr dicam malorum. Fugit convenire ei eam, adhuc putant eam et. Verear petentium vel an, nullam viderer eam an. Illud liber ad sed. Ea eos scripta iudicabit, dicit persius ponderum id nec.</p>
                <p class="know-more">Want to learn more about us? <a href="#">Clieck here</a></p>
            </div>
            <div class="col-lg-6 order-lg-first">
                <img src="images/shape/5.png" alt="" data-aos="zoom-out">
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.about-cryto -->
				</div> <!-- /.theme-top-section -->
<!--
=====================================================
    Our Feature Three
=====================================================
-->
<div class="our-features-three" id="features">
    <img src="images/home/bg6.png" alt="" class="main-bg-shape">
    <img src="images/shape/6.png" alt="" class="cube-shape" data-aos="fade-left" data-aos-duration="1500">
    <div class="line-shape-one shape"></div>
    <div class="line-shape-two shape"></div>
    <div class="line-shape-three shape"></div>
    <div class="line-shape-four shape"></div>
    <div class="line-shape-five shape"></div>
    <div class="line-shape-six shape"></div>
    <div class="container">
        <div class="theme-title text-center">
            <h2>We’re Nearly Ready <br>to launch</h2>
        </div>


        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-feature">
                    <div class="icon-box">
                        <img src="images/icon/8.png" alt="" class="primary-icon">
                    </div>
                    <h3>cryto is untraceable</h3>
                    <p>Sending and receiving addresses as well as transacted amounts.</p>
                </div> <!-- /.single-feature -->
            </div> <!-- /.col- -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-feature">
                    <div class="icon-box">
                        <img src="images/icon/9.png" alt="" class="primary-icon">
                    </div>
                    <h3>Autonomy self-rule.</h3>
                    <p>cryto has striven to solve blockchain governance. </p>
                </div> <!-- /.single-feature -->
            </div> <!-- /.col- -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-feature">
                    <div class="icon-box">
                        <img src="images/icon/10.png" alt="" class="primary-icon">
                    </div>
                    <h3>Transparency & Stability</h3>
                    <p>In crypto, transparency brings trust & old strong transparency</p>
                </div> <!-- /.single-feature -->
            </div> <!-- /.col- -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.our-features-three -->
<!--
=====================================================
    Our Feature Two
=====================================================
-->
<div class="our-feature-two dark-bg" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text">
                    <div class="number">01</div>
                    <h2 class="title"><span>Decentralized</span> Minning Our core focus.</h2>
                    <p>Mining should be fair & easy! We do not allow ASICs on our network. The development team is wholy commited to with keeping it that way.</p>
                    <a href="#" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
                </div> <!-- /.text -->
            </div> <!-- /.col- -->
            <div class="col-lg-6 img-box"><div><img src="images/shape/7.png" alt=""></div></div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-lg-6 order-lg-last">
                <div class="text">
                    <div class="number">02</div>
                    <h2 class="title"><span>Populer</span> Money and Smart wallet.</h2>
                    <p>Mining should be fair & easy! We do not allow ASICs on our network. The development team is wholy commited to with keeping it that way.</p>
                    <a href="#" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
                </div> <!-- /.text -->
            </div> <!-- /.col- -->
            <div class="col-lg-6 order-lg-first img-box"><div><img src="images/shape/8.png" alt=""></div></div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">
                <div class="text">
                    <div class="number">03</div>
                    <h2 class="title"><span>Upholding</span> Confidentialit & Strong Security.</h2>
                    <p>Mining should be fair & easy! We do not allow ASICs on our network. The development team is wholy commited to with keeping it that way.</p>
                    <a href="#" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
                </div> <!-- /.text -->
            </div> <!-- /.col- -->
            <div class="col-lg-6 img-box"><div><img src="images/shape/9.png" alt=""></div></div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.our-feature-two -->