@{
    ViewBag.Title = "Welcome";
}


<div class="row">
    <div class="col-md-12">
        <h1>
            @ViewBag.Title
        </h1>



        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">CI / CD</h5>
                <p class="card-text">TestChange for testing Continious Integration and Continious Delivery Pipelines</p>
                <a href="#" class="btn btn-primary">Save</a>
            </div>
        </div>
    </div>
</div>

