@{
    ViewBag.Title = "Welcome";
}


<div id="theme-banner" class="theme-banner-three">
    <img src="images/shape/16.png" alt="" class="shape-one">
    <img src="images/shape/17.png" alt="" class="shape-two">
    <img src="images/shape/19.png" alt="" class="shape-four">
    <div class="container">
        <div class="main-text-wrapper">
            <h1>Online shopping <br>Being easy with <br>Our wallet.</h1>
            <p>Revolutionary digital money system. Fast & most populer <br>currency for your future online business.</p>
            <ul class="button-group clearfix">
                <li><a href="#">Try Now</a></li>
                <li>
                    <div class="btn-group">
                        <a href="#" class="download-button">Download For OS X</a>
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="download-win" href="#">Download For Windows</a>
                        </div>
                    </div>
                </li>
            </ul>
            <img src="images/shape/18.png" alt="" class="shape-three">
            <img src="images/icon/3.png" alt="" class="shape-five">
        </div>
    </div>
</div> <!-- /.theme-banner-three -->
