@{
    ViewBag.Title = "Startseite";
}
@section ColorStyle
{
    @Styles.Render("~/Content/Css/Frontend/Styling/02")
}

<div class="theme-top-section">
    <img src="~/Content/Images/Home/background-01.png" alt="" class="blue-shape">


    <!-- ^^^^^^^^^^^^^^^^^ Theme Banner ^^^^^^^^^^^^^^^ -->
    <div id="theme-banner" class="theme-banner-two">
        <img src="~/Content/Images/Home/shape-02.png" alt="" class="cube-shape">
        <img src="~/Content/Images/Home/shape-01.png" alt="" class="illustration">
        <div class="container">
            <div class="main-text-wrapper">
                <h1 class="strong-title-900">
                    Deine digitale Marke.
                    <br>Dein Erfolg.
                </h1>
                <p>
                    Verwalte und verbessere<br />Deinen Markenauftritt.
                </p>
                <ul class="button-group clearfix">
                    <li><a href="#">Entdecke BrandCi.</a></li>
                    <li><a href="#">Teste BrandCi kostenfrei.</a></li>
                </ul>
            </div>
        </div>
    </div> <!-- /.theme-banner-one -->


    <div class="about-cryto" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-last">
                    <div class="theme-title">
                        <div class="upper-heading">Was ist BrandCi?</div>
                        <h2>Lass uns Dir BrandCi vorstellen.</h2>
                    </div> <!-- /.theme-title -->
                    <p class="sub-text">
                        Lorem ipsum dolor sit amet, has at lorem utinam mucius, per at elitr dicam malorum.
                    </p>
                    <p class="text">Lorem ipsum dolor sit amet, has at lorem utinam mucius, per at elitr dicam malorum. Fugit convenire ei eam, adhuc putant eam et. Verear petentium vel an, nullam viderer eam an. Illud liber ad sed. Ea eos scripta iudicabit, dicit persius ponderum id nec.</p>
                    <p class="know-more">Möchtest Du mehr wissen? <a href="@Url.Action("Index", "Home")">Klick hier</a></p>
                </div>
                <div class="col-lg-6 order-lg-first">
                    <img src="~/Content/Images/Home/shape-06.png" alt="" data-aos="zoom-out">
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.about-cryto -->
    <!--
    =====================================================
        Our Feature Three
    =====================================================
    -->
    <div class="our-features-three" id="features">
        <img src="~/Content/Images/Home/background-02.png" alt="" class="main-bg-shape">
        <img src="~/Content/Images/Home/shape-07.png" alt="" class="cube-shape" data-aos="fade-left" data-aos-duration="1500">
        <div class="line-shape-one shape"></div>
        <div class="line-shape-two shape"></div>
        <div class="line-shape-three shape"></div>
        <div class="line-shape-four shape"></div>
        <div class="line-shape-five shape"></div>
        <div class="line-shape-six shape"></div>
        <div class="container">
            <div class="theme-title text-center">
                <h2>
                    Warum BrandCi Deine Marke<br />
                    zum Erfolg führt.
                </h2>
            </div>


            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-feature">
                        <div class="icon-box">
                            <img src="~/Content/Images/Home/shape-03.png" alt="" class="primary-icon">
                        </div>
                        <h3>Zugriff auf Deine Marke. Von Überall.</h3>
                        <p>Plane und Verbessere Deine Marke ohne weitere Software direkt online und arbeite mit Deinen Kollegen gemeinsam am Erfolg der Marke.</p>
                    </div> <!-- /.single-feature -->
                </div> <!-- /.col- -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-feature">
                        <div class="icon-box">
                            <img src="~/Content/Images/Home/shape-04.png" alt="" class="primary-icon">
                        </div>
                        <h3>Erweitere Deine Marke. Und zwar geplant.</h3>
                        <p>Eine Neugestaltung Deiner Marke trägt durch intelligente Vorausplanung zum Markenerfolg bei.</p>
                    </div> <!-- /.single-feature -->
                </div> <!-- /.col- -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-feature">
                        <div class="icon-box">
                            <img src="~/Content/Images/Home/shape-05.png" alt="" class="primary-icon">
                        </div>
                        <h3>Fortlaufende Verbesserung. Dank KI.</h3>
                        <p>Durch den Einsatz von Künstlicher Intelligenz garantieren wir Dir und Deiner Marke eine stetige Verbesserung.</p>
                    </div> <!-- /.single-feature -->
                </div> <!-- /.col- -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.our-features-three -->
    <!--
    =====================================================
        Our Feature Two
    =====================================================
    -->
    <div class="our-feature-two dark-bg" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text">
                        <div class="number">01</div>
                        <h2 class="title">Zugriff auf Deine Marke. Von Überall.</h2>
                        <p>Plane und Verbessere Deine Marke ohne weitere Software direkt online und arbeite mit Deinen Kollegen gemeinsam am Erfolg der Marke.</p>
                        <a href="#" class="learn-more">Mehr erfahren. <i class="flaticon-right-thin"></i></a>
                    </div> <!-- /.text -->
                </div> <!-- /.col- -->
                <div class="col-lg-6 img-box"><div><img src="~/Content/Images/Home/shape-06.png" alt=""></div></div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-lg-6 order-lg-last">
                    <div class="text">
                        <div class="number">02</div>
                        <h2 class="title">Erweitere Deine Marke. Und zwar geplant.</h2>
                        <p>Eine Neugestaltung Deiner Marke trägt durch intelligente Vorausplanung zum Markenerfolg bei.</p>
                        <a href="#" class="learn-more">Mehr erfahren. <i class="flaticon-right-thin"></i></a>
                    </div> <!-- /.text -->
                </div> <!-- /.col- -->
                <div class="col-lg-6 order-lg-first img-box"><div><img src="~/Content/Images/Home/shape-08.png" alt=""></div></div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="text">
                        <div class="number">03</div>
                        <h2 class="title">Fortlaufende Verbesserung. Dank KI.</h2>
                        <p>Durch den Einsatz von Künstlicher Intelligenz garantieren wir Dir und Deiner Marke eine stetige Verbesserung.</p>
                        <a href="#" class="learn-more">Mehr erfahren. <i class="flaticon-right-thin"></i></a>
                    </div> <!-- /.text -->
                </div> <!-- /.col- -->
                <div class="col-lg-6 img-box"><div><img src="~/Content/Images/Home/shape-09.png" alt=""></div></div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.our-feature-two -->

</div> <!-- /.html-top-content -->