@{
    ViewBag.Title = "Brand Overview";
}



@section styles
{
    
}


<div class="row">
    <h3>
        Brand Overview
    </h3>
</div>


<div class="row">
    <div class="col-lg-2 col-md-6">
        <div class="widget-bg-color-icon card-box" style="border-top: 7px solid #193357">

            <div class="bg-icon bg-icon-success pull-left">
                <a href="@Url.Action("Index", "Colors", new { Id = ViewBag.BrandId, area = "Public"})">
                    <i class="fas fa-palette text-success"></i>
                </a>
            </div>

            <div class="text-right">
                <a href="@Url.Action("Index", "Colors", new {Id = ViewBag.BrandId, area = "Public"})" class="text-muted mb-0">
                    <h3 class="text-dark m-t-10">Colors</h3>
                    Open <i class="fas fa-arrow-right ml-2"></i>
                </a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-lg-2 col-md-6">
        <div class="widget-bg-color-icon card-box" style="border-top: 7px solid #193357">

            <div class="bg-icon bg-icon-inverse pull-left">
                <a href="">
                    <i class="fas fa-swatchbook text-info"></i>
                </a>
            </div>

            <div class="text-right">
                <a href="#" class="text-muted mb-0">
                    <h3 class="text-dark m-t-10">Brand</h3>
                    Open <i class="fas fa-arrow-right ml-2"></i>
                </a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-lg-2 col-md-6">
        <div class="widget-bg-color-icon card-box" style="border-top: 7px solid #193357">
            <div class="bg-icon bg-icon-inverse pull-left">
                <a href="#">
                    <i class="fas fa-swatchbook text-pink"></i>
                </a>
            </div>
            <div class="text-right">
                <a href="#" class="text-muted mb-0">
                    <h3 class="text-dark m-t-10">Brand</h3>
                    Open <i class="fas fa-arrow-right ml-2"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-lg-2 col-md-6">
        <div class="widget-bg-color-icon card-box" style="border-top: 7px solid #193357">
            <div class="bg-icon bg-icon-inverse pull-left">
                <a href="#">
                    <i class="fas fa-swatchbook text-purple"></i>
                </a>
            </div>
            <div class="text-right">
                <a href="#" class="text-muted mb-0">
                    <h3 class="text-dark m-t-10">Brand</h3>
                    Open <i class="fas fa-arrow-right ml-2"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-lg-2 col-md-6">
        <div class="widget-bg-color-icon card-box" style="border-top: 7px solid #193357">

            <div class="bg-icon bg-icon-inverse pull-left">
                <a href="#">
                    <i class="fas fa-swatchbook text-success"></i>
                </a>
            </div>

            <div class="text-right">
                <a href="#" class="text-muted mb-0">
                    <h3 class="text-dark m-t-10">Brand</h3>
                    Open <i class="fas fa-arrow-right ml-2"></i>
                </a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="widget-bg-color-icon card-box" style="border-top: 7px solid #193357">

            <div class="bg-icon bg-icon-inverse pull-left">
                <a href="#">
                    <i class="fas fa-swatchbook text-info"></i>
                </a>

            </div>

            <div class="text-right">
                <a href="#" class="text-muted mb-0">
                    <h3 class="text-dark m-t-10">Brand</h3>
                    Open <i class="fas fa-arrow-right ml-2"></i>
                </a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</div>



@section scripts {
    
}