@{
    ViewBag.Title = "Brand Overview";
}
@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/Layout/Partial/_LeftNavigation.cshtml")
}



@section styles
{
    
}


<div class="row">
    <h3>
        Brand Overview
    </h3>
</div>



@section scripts {
    
}