
<!-- WEATHER -->
<div class="row">

    <div class="col-xl-12">

        <!-- BEGIN WEATHER WIDGET 1 -->
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row align-items-center">
                            <div class="col-6 text-center">
                                <h1 class="display-4"><i class="wi wi-day-sleet text-white"></i></h1>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <h2 class="text-white"><b>32°</b></h2>
                                    <p>Partly cloudy</p>
                                    <p class=" mb-0">15km/h - 37%</p>
                                </div>
                            </div>
                        </div><!-- End row -->
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-4 text-center">
                                <h4 class="text-white mt-0">SAT</h4>
                                <h3 class="my-3"><i class="wi wi-night-alt-cloudy text-white"></i></h3>
                                <h4 class="text-white mb-0">30<i class="wi wi-degrees"></i></h4>
                            </div>
                            <div class="col-4 text-center">
                                <h4 class="text-white mt-0">SUN</h4>
                                <h3 class="my-3"><i class="wi wi-day-sprinkle text-white"></i></h3>
                                <h4 class="text-white mb-0">28<i class="wi wi-degrees"></i></h4>
                            </div>
                            <div class="col-4 text-center">
                                <h4 class="text-white mt-0">MON</h4>
                                <h3 class="my-3"><i class="wi wi-hot text-white"></i></h3>
                                <h4 class="text-white mb-0">33<i class="wi wi-degrees"></i></h4>
                            </div>
                        </div><!-- end row -->
                    </div>
                </div><!-- end row -->
            </div>
        </div><!-- cardbox -->
        <!-- END Weather WIDGET 1 -->

    </div><!-- End col-xl-6 -->

</div> <!-- End row -->



<app-dashboard-recent-activity-chart></app-dashboard-recent-activity-chart>>