@using BrandBook.Web.Framework.HtmlHelpers

@{
    ViewBag.Title = "Closed Beta";
}



<section class="breadcrumb_area">
    @CustomHtmlHelper.Image("FrontendData/6de4d537-9a97-4b39-bda4-7b491a3d2ce6.png", "breadcrumb_shap")
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">We're in closed beta</h1>
        </div>
    </div>
</section>


<section class="saas_home_area Cus_subs_Ele">
    <div class="banner_top Banner_top_bo">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="f_p f_size_40 l_height60 wow fadeInUp" data-wow-delay="0.3s">We're in  <span class="f_700">closed beta</span> and <br>accepting a limited number of companies.</h2>
                    <p class="f_size_18 l_height30 wow fadeInUp" data-wow-delay="0.5s">
                        Help us making the release of BrandCi the best! Sign up for closed beta-tester today and let us know what you think.
                    </p>
                    <form class="mailchimp wow fadeInUp" data-wow-delay="0.7s" method="post">
                        <div class="input-group subcribes">
                            <input type="text" name="email" class="form-control email" placeholder="designers@brandci.cloud" style="height: 50px;">
                            <button class="btn btn_submit f_size_15 f_500" type="submit">Join our waitlist</button>
                        </div>
                        <br /><br />
                        <div class="input-group subcribes">
                            <input id="PrivacyPolicy" name="PrivacyPolicy" type="checkbox">
                            <label for="PrivacyPolicy">Accept Privacy Policy</label> *
                            &nbsp;
                            <a href="@Url.Action("PrivacyPolicy", "Legal")" target="_blank">
                                <i class="fas fa-file-alt"></i>
                            </a>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</section>