<div class="cookieConsentBox">
    <div class="content">
        @Translations.frontend_legal_cookieconsent_text
        <a href="">@Translations.frontend_legal_cookieconsent_link_text</a>
        <br /><br />
        <a href="#" id="acceptCookiesButton" class="btn btn-primary btn-cookie-acceptance">@Translations.frontend_legal_cookieconsent_accept_button_text</a>
    </div>
</div>