@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var routeData = ViewContext.RouteData;
}

@helper selected(string code, string culture)
{
    if (code == culture)
    {
        @:checked="checked" class="checked"
    }
}

@helper selectedLabel(string code, string culture)
{
    if (code == culture)
    {
        @:class="checked"
    }
}

<div class="f_widget about-widget">
    <h3 class="f-title f_600 f_size_18 mb_40">
        Language Selection
    </h3>

    @using (Html.BeginForm("SetCulture", "Culture", new {area = ""}))
    {
        <ul class="list-unstyled f_list">
            <li class="dropdown submenu nav-item">
                <a title="Deutsch (Deutschland)" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false" href="#">
                    Deutsch (Deutschland)
                </a>
                <ul role="menu" class=" dropdown-menu">

                    <li class="nav-item">
                        <a title="Deutsch (Deutschland)" class="nav-link" href="#">
                            Deutsch (Deutschland)
                        </a>
                    </li>
                    <li class="nav-item">
                        <a title="English (United Stated)" class="nav-link" href="#">
                            English (United Stated)
                        </a>
                    </li>
                    <li class="nav-item">
                        <a title="Arabic (Saudi Arabia)" class="nav-link" href="#">
                            Arabic (Saudi Arabia)
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    }

</div>