@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
<footer class="theme-footer dark-style">
    <div class="container">
        <div class="inner-wrapper">
            <div class="top-footer-data-wrapper">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 footer-logo">
                        <div class="logo">
                            <a href="index.html">
                                <img src="https://content.philipp-moser.de/wlo0t5byw6/06b354ec-78ad-4bac-bafa-5afcddb75de5.png" height="150" alt="Logo">
                            </a>
                        </div>
                    </div> <!-- /.footer-logo -->
                    <div class="col-lg-3 col-sm-6 footer-list">
                        <h4 class="title">BrandCi.</h4>
                        <ul>
                            <li><a href="#">Lösungen.</a></li>
                            <li><a href="#">Preise.</a></li>
                            <li><a href="#">Dokumentation.</a></li>
                            <li><a href="#">Beispiele.</a></li>
                        </ul>
                    </div> <!-- /.footer-list -->
                    <div class="col-lg-3 col-sm-6 footer-list">
                        <h4 class="title">Support.</h4>
                        <ul>
                            <li><a href="#">Kontakt.</a></li>
                            <li><a href="#">Forum.</a></li>
                            <li><a href="#">Einen Fehler melden.</a></li>
                        </ul>
                    </div> <!-- /.footer-list -->
                    <div class="col-lg-3 col-sm-6 footer-list">
                        <h4 class="title">Rechtliches.</h4>
                        <ul>
                            <li><a href="@Url.Action("Imprint", "Legal")">Impressum.</a></li>
                            <li><a href="#">Datenschutz.</a></li>
                            <li><a href="#">AGB.</a></li>
                        </ul>
                    </div> <!-- /.footer-list -->
                </div> <!-- /.row -->
            </div> <!-- /.top-footer-data-wrapper -->

            <div class="bottom-footer clearfix">
                <p class="copyright">&copy; 2019 <a href="#">Philipp C. Moser</a> All Right Reserved</p>
                <span style="float: right">
                    @using(Html.BeginForm("SetCulture", "Culture", new {area = ""}))
                    {
                        <label for="en-us" style="color: white;">
                            <input name="culture" id="en-us" value="en-us" type="radio"/>
                            English (United States)
                        </label>
                        <label for="de" style="color: white;">
                            <input name="culture" id="de" value="de" type="radio"/>
                            Deutsch
                        </label>
                    }
                </span>
            </div> <!-- /.bottom-footer -->
        </div>
    </div> <!-- /.container -->
</footer>