<footer class="theme-footer dark-style">
    <div class="container">
        <div class="inner-wrapper">
            <div class="top-footer-data-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 footer-logo">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/Content/Images/App/logo.png" height="150" alt="Logo">
                            </a>
                        </div>
                    </div> <!-- /.footer-logo -->
                    <div class="col-lg-2 col-sm-6 footer-list">
                        <h4 class="title">Quick Links</h4>
                        <ul>
                            <li><a href="#">How it Works</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul>
                    </div> <!-- /.footer-list -->
                    <div class="col-lg-3 col-sm-6 footer-list">
                        <h4 class="title">About Us</h4>
                        <ul>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div> <!-- /.footer-list -->
                </div> <!-- /.row -->
            </div> <!-- /.top-footer-data-wrapper -->

            <div class="bottom-footer clearfix">
                <p class="copyright">&copy; 2019 <a href="#">Philipp C. Moser</a> All Right Reserved</p>
            </div> <!-- /.bottom-footer -->
        </div>
    </div> <!-- /.container -->
</footer>