@using BrandBook.Resources
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li class="menu-title">Brand Overview</li>

                <li>
                    <a href="@Url.Action("Overview", "Brands", new {area = "App"})" class="waves-effect waves-primary">
                        <i class="fas fa-reply"></i><span> Back </span>
                    </a>
                </li>


                <li class="menu-title">General</li>

                <li>
                    <a href="@Url.Action("Index", "Brand", new { id = ViewBag.BrandId, area = "App"})" class="waves-effect waves-primary">
                        <i class="fas fa-swatchbook"></i><span> Overview </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Settings", "Brand", new { id = ViewBag.BrandId, area = "App"})" class="waves-effect waves-primary">
                        <i class="fas fa-cog"></i><span> Settings </span>
                    </a>
                </li>


            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>