<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li>
                    <a href="@Url.Action("Index", "Dashboard", new{ area = "App" })" class="waves-effect waves-primary">
                        <i class="fas fa-tachometer-alt"></i><span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Overview", "Brand", new{ area = "App" })" class="waves-effect waves-primary">
                        <i class="fas fa-swatchbook"></i><span> Ihre Marken </span>
                    </a>
                </li>


                @if (User.IsInRole("Administrator"))
                {
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary subdrop">
                            <i class="fas fa-user"></i><span> Benutzerverwaltung</span>
                        </a>
                        <ul class="list-unstyled" style="display: block;">
                            <li><a href="#">Benutzer</a></li>
                            <li><a href="#">Rollen</a></li>
                            <li><a href="#">Firmen</a></li>
                        </ul>
                    </li>
                }

            

            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>