@{
    ViewBag.Title = "Colors";
}

@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_BrandNavigation.cshtml")
}

@section styles {
    
}



<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30">Colors</h4>
            
            <div class="row">


                    <div class="col-lg-3 col-md-6">
                        <div class="text-center card-box">
                            <div class="">
                                <div class="thumb-lg m-b-10 center-page">
                                    <div style="background-color: #193357; width: 100%; height: 100%;" class="rounded-circle"></div>
                                </div>
                                <br />
                                <div class="">
                                    <h6 class="m-b-5 mt-2">
                                        philovation blue
                                    </h6>
                                </div>

                                <div class="text-left m-t-40 text-center">
                                    <p class="text-muted font-13">
                                        <strong>Hex:</strong>
                                        <br />
                                        <span>#193357</span>
                                    </p>

                                    <p class="text-muted font-13">
                                        <strong>RGB:</strong>
                                        <br />
                                        <span>
                                            255,
                                            255,
                                            255
                                        </span>
                                    </p>

                                    <p class="text-muted font-13">
                                        <strong>CMYK:</strong>
                                        <br />
                                        <span>
                                            10,
                                            10,
                                            10,
                                            10
                                        </span>
                                    </p>

                                </div>

                            </div>

                        </div>
                    </div>

                


            </div>

        </div>
    </div>
</div>






@section scripts {
    
}
