@{
    ViewBag.Title = "Fonts";
}

@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/Layout/Partial/_BrandNavigation.cshtml")
}

@section styles {

}




<h3>
    <div class="form-group">
        <input type="checkbox" id="showAdditionalContent" checked data-plugin="switchery" data-color="#52bb56" data-size="small" />
        <label for="showAdditionalContent">Raleway</label>
    </div>
</h3>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card m-b-20 card-body">
            <h5>
                Html Inline Integration
            </h5>
            <code>
                &lt;link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,500i,600,700,800,900" rel="stylesheet"&gt;
            </code>


            <h5 style="margin-top: 2.5%">
                Css Import Regel
            </h5>
            <code>
                @@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,500i,600,700,800,900');
            </code>



            <h5 style="margin-top: 2.5%">
                Css Eigenschaft
            </h5>
            <code>
                font-family: 'Raleway', sans-serif;
            </code>





        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="card m-b-20 card-body" style="font-family: 'Raleway', sans-serif; font-weight: 100; font-style: normal;">
            <span style="font-size: 5rem;">
                A a
            </span>
            <blockquote>
                <p>
                    Raleway normal 100
                </p>
                <footer class="fontAdditionalContent">
                    <small>
                        <span style="text-transform: uppercase;">a b c d e f g h i j k l m n o p q r s t u v w x y z</span>
                        <br />
                        <span style="text-transform: lowercase;">a b c d e f g h i j k l m n o p q r s t u v w x y z</span>
                        <br />
                        <span>1 2 3 4 5 6 7 8 9 0</span>
                        <br />
                        <span>The sky was cloudless and of a deep dark blue.</span>
                    </small>
                </footer>
            </blockquote>
        </div>
    </div>

</div>









@section scripts {
    <script>

        $("#showAdditionalContent").change(function () {
            if ($('#showAdditionalContent').is(':checked')) {
                $(".fontAdditionalContent").show("slow");
            } else {
                $(".fontAdditionalContent").hide("slow");
            }
        });

    </script>
}
