
@{
    ViewBag.Title = "Index";
}

@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/Layout/Partial/_BrandNavigation.cshtml")
}

<style>

    .brand-title-container {
        width: 100%;
        text-align: center;
    }

    .brand-title-container .brand-title-img {
        max-width: 25%;
    }

</style>


<div class="row">
    <div class="col-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">
                Philipp C. Moser
            </h4>
            
            <div class="brand-title-container">
                <img src="https://content.philipp-moser.de/wlo0t5byw6/BrandData/1e829ca5-c778-4529-b5e8-01ee8ead6633.jpg" class="brand-title-img" />
            </div>

            
        </div>
    </div>
</div>