@using BrandBook.Web.Framework.HtmlHelpers
@model BrandBook.Web.Framework.ViewModels.App.Brand.BrandOverviewViewModel
@{
    ViewBag.Title = "Markenübersicht";
    Layout = "~/Areas/App/Views/Shared/Layout/_Layout.cshtml";
}



<div class="row">
    @AppCustomHelper.BrandOverviewItem(Model)
</div>

