@{
    ViewBag.Title = "Cookie Richtlinie";
}
@section ColorStyle
{
    @Styles.Render("~/Content/Css/Frontend/Styling/01")
}

<div class="theme-top-section">

    <div class="theme-inner-banner">
        <div class="container">
            <h2 style="padding: 0 0 15% 0;">
                Cookie Richtlinie
            </h2>
        </div> <!-- /.container -->
    </div> <!-- /.theme-inner-banner -->


    <div class="container inner-page-spacing">
        <div class="row">
            <div class="col-lg-12 col-12 blog-details">
                <div class="clearfix cookie-terms">
                    
                    <p>
                        Cookies sind kleine Textdateien, welche von den Websites erstellt werden, die Sie besucht haben. Sie werden verwendet, um moderne Websiten optimal bedienbar zu machen oder dem Betreiber bestimmte Informationen zur Website zu liefern.
                    </p>
                    
                    
                    <h3>Technisch notwendige Cookies</h3>
                    <p>In dieser Applikation werden folgende Cookies verwendet.</p>
                    <p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Speicherdauer
                                </th>
                                <th>
                                    Beschreibung
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </p>

                </div>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.html-top-content -->