@model BrandBook.Web.ViewModels.Legal.ImprintViewModel
@{
    ViewBag.Title = "Impressum";
}
@section ColorStyle
{
    @Styles.Render("~/Content/Css/Styling/01")
}

<div class="theme-top-section">

    <div class="theme-inner-banner">
        <div class="container">
            <h2 style="padding: 0 0 15% 0;">
                Impressum
            </h2>
        </div> <!-- /.container -->
    </div> <!-- /.theme-inner-banner -->


    <div class="container inner-page-spacing">
        <div class="row">
            <div class="col-lg-12 col-12 blog-details">
                <div class="clearfix">
                    <div class="blog-main-post">
                        <div>
                            23.04.2019
                        </div>
                        <h4>
                            Angaben gemäß §5 TMG
                        </h4>
                        @foreach (var item in Model.ImprintValues)
                        {
                            <p>
                                @item.Value
                            </p>
                        }
                    </div> 
                </div>
                
            </div> 

        </div>
    </div> <!-- /.container -->

</div> <!-- /.html-top-content -->