@using BrandBook.Web.Framework.HtmlHelpers
@model string
@{
    ViewBag.Title = Translations.frontend_legal_imprint_pagetitle;
}

    <section class="breadcrumb_area">
        @CustomHelper.Image("FrontendData/6de4d537-9a97-4b39-bda4-7b491a3d2ce6", "png", "breadcrumb_shap")
        <div class="container">
            <div class="breadcrumb_content text-center">
                <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">
                    @Translations.frontend_legal_imprint_pagetitle
                </h1>
            </div>
        </div>
    </section>


<section class="blog_area sec_pad cus_ptB_Bl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog_single mb_50">
                    <div class="blog_content cus_p">
                        @Html.Raw(Model)
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</section>