
@{
    ViewBag.Title = "Datenschutzerklärung";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
@section ColorStyle
{
    @Styles.Render("~/Content/Css/Frontend/Styling/01")
}


<div class="theme-top-section">

    <div class="theme-inner-banner">
        <div class="container">
            <h2 style="padding: 0 0 15% 0;">
                Datenschutzerklärung
            </h2>
        </div> <!-- /.container -->
    </div> <!-- /.theme-inner-banner -->


    <div class="container inner-page-spacing">
        <div class="row">
            <div class="col-lg-12 col-12 blog-details">
                <div class="clearfix">

                </div>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.html-top-content -->