@model BrandBook.Core.ViewModels.Frontend.Blog.BlogEntryViewModel
@using BrandBook.Web.Framework.HtmlHelpers
@{
}

<section class="breadcrumb_area">
    @CustomHtmlHelper.Image("FrontendData/6de4d537-9a97-4b39-bda4-7b491a3d2ce6", "png", "breadcrumb_shap")
    <div class="container">
        <div class="breadcrumb_content text-center">

            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20 blog-title"></h1>

            <p class="f_400 w_color f_size_16 l_height26 blog-subtitle"></p>

        </div>
    </div>
</section>


<section class="blog_area_two sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 blog_single_info">
                <div class="blog_list_item blog_list_item_two">
                    <a href="@Url.Action("Overview", "Blog", new {area = ""})">
                        <i class="fas fa-arrow-left"></i>
                        Back
                    </a>


                    <!-- Custom Styling -->
                    <style class="blog-additionalstyles"></style>
                    <!-- Custom Styling -->

                    <div class="blog_content">

                        <p class="blog-text"></p>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


@section scripts {

    @Scripts.Render("~/bundles/packages/frontend/blog-item")

}