@using BrandBook.Web.Framework.HtmlHelpers
@{
    ViewBag.Title = "Index";
}

<section class="breadcrumb_area">
    @CustomHelper.Image("FrontendData/6de4d537-9a97-4b39-bda4-7b491a3d2ce6", "png", "breadcrumb_shap")
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">
                Blog
            </h1>
            <p class="f_400 w_color f_size_16 l_height26">
                
            </p>
        </div>
    </div>
</section>



<section class="blog_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               
                <div class="row">

                    <div class="col-lg-4 col-sm-4">
                        <div class="blog_grid_item mb-30">
                            <div class="blog_img">
                                @CustomHelper.Image("FrontendData/e06b7899-c2d9-45c8-ac10-86007e4dcafb", "svg")
                            </div>
                            <div class="blog_content">
                                <div class="entry_post_info">
                                    By: <a href="#">Philipp C. Moser</a>
                                    <a href="#">18.08.2019</a>
                                </div>
                                <a href="#">
                                    <h5 class="f_p f_size_20 f_500 t_color mb_20">
                                        How do Brands work?
                                    </h5>
                                </a>
                                <p class="f_400 mb-0">
                                    Learn how modern brands work and how to captivate your target audience.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="blog_grid_item mb-30">
                            <div class="blog_img">
                                @CustomHelper.Image("FrontendData/b46e4b1c-42f8-4e27-9e94-41162ec1e32b", "svg")
                            </div>
                            <div class="blog_content">
                                <div class="entry_post_info">
                                    By: <a href="#">Philipp C. Moser</a>
                                    <a href="#">18.08.2019</a>
                                </div>
                                <a href="#">
                                    <h5 class="f_p f_size_20 f_500 t_color mb_20">
                                        How do Brands work?
                                    </h5>
                                </a>
                                <p class="f_400 mb-0">
                                    Learn how modern brands work and how to captivate your target audience.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="blog_grid_item mb-30">
                            <div class="blog_img">
                                @CustomHelper.Image("FrontendData/7a5f43f7-a053-4ea8-afe2-f0598394f203", "svg")
                            </div>
                            <div class="blog_content">
                                <div class="entry_post_info">
                                    By: <a href="#">Philipp C. Moser</a>
                                    <a href="#">18.08.2019</a>
                                </div>
                                <a href="#">
                                    <h5 class="f_p f_size_20 f_500 t_color mb_20">
                                        How do Brands work?
                                    </h5>
                                </a>
                                <p class="f_400 mb-0">
                                    Learn how modern brands work and how to captivate your target audience.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>