<mat-card class="card" *ngFor="let subscription of subscriptions">
    <mat-card-header>
      <mat-card-title>Subscription #{{subscription.identifier}}</mat-card-title>
      <mat-card-subtitle>{{subscription.type}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <h3>Validity</h3>
        <strong>Active since:</strong> 17.06.2020<br />
        <strong>Active until:</strong> 17.07.2020<br /><br />
        
        <h3>Subscription Plan</h3>
        <strong>Selected Plan:</strong> {{subscription.type}}<br />
        <strong>Amount of Brands:</strong> 1<br />
        <strong>Price per Month:</strong> € 0<br />

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">REFRESH</button>
    </mat-card-actions>
  </mat-card>


  <button mat-fab class="fab" color="primary">
      <mat-icon>upgrade</mat-icon>
  </button>