<div class="row">
    <div class="col-12">
        <!-- Portlet card -->
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-0">Your recent Brand Activity</h4>

                <div id="cardCollpase1" class="collapse pt-3 show" dir="ltr">
                    <div class="row">
                        <div class="col-md-12">

                            <apx-chart
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis"
                            [title]="chartOptions.title"
                          ></apx-chart>

                        </div>
                    </div>
                </div> <!-- collapsed end -->
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row -->