
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/App/Views/Shared/Layout/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="text-dark  header-title m-t-0">Recent Activity</h4>
            <p class="text-muted m-b-25 font-13">
                The last activity across your most active projects.
            </p>

            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Brand Name</th>
                            <th>Activity Date</th>
                            <th>Activity</th>
                            <th>Changed by</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>BrandBookV2</td>
                            <td>10/05/2019</td>
                            <td><span class="badge badge-info">Activity 01</span></td>
                            <td>User01</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>BrandBookV2</td>
                            <td>10/05/2019</td>
                            <td><span class="badge badge-success">Activity 02</span></td>
                            <td>User01</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>BrandBookV2</td>
                            <td>10/05/2019</td>
                            <td><span class="badge badge-pink">Activity 03</span></td>
                            <td>User01</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>BrandBookV2</td>
                            <td>10/05/2019</td>
                            <td>
                                <span class="badge badge-purple">Activity 04</span>
                            </td>
                            <td>User01</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>BrandBookV2</td>
                            <td>10/05/2019</td>
                            <td><span class="badge badge-warning">Activity 05</span></td>
                            <td>User01</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -12 -->
</div>
<!-- end row -->