@using BrandBook.Resources
<a href="@Url.Action("Settings", "System", new {area = "App"})" class="btn btn-danger btn-custom mr-2">
    <i class="fas fa-arrow-left"></i>
    &nbsp;
    @Translations.app_settings_back_button_title
</a>
