@using BrandBook.Resources

@{
    ViewBag.Title = "Services";
}

@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}


<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="card m-b-20 card-body">
            <h4 class="card-title">Services</h4>
            <p class="card-text">
                @Translations.app_settings_overview_description
            </p>
        </div>
    </div>
</div>






<div class="row">

    <div class="col-lg-4 col-md-6">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-danger pull-left">
                <i class="fab fa-google  text-primary"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b class="counter">Google Analytics</b></h3>
                <p class="text-muted mb-0">Alle Einstellungen zur Nutzung von Google Analytics</p>
            </div>
            <a href="@Url.Action("", "System", new { area = "App" })" class="btn btn-danger btn-custom mt-4">
                @Translations.app_settings_overview_open_button_title&nbsp;&nbsp;<i class="fas fa-chevron-right"></i>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>

 </div>