@using BrandBook.Resources
@using BrandBook.Web.Framework.HtmlHelpers

@{
    ViewBag.Title = "VersionInfo";
}

@section navigation {
    @Html.Partial("~/Areas/App/Views/Shared/_Layout/Partial/_LeftNavigation.cshtml")
}


<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="card m-b-20 card-body">
            <h4 class="card-title">Version Info</h4>
            <p class="card-text">
                <strong>Current Version:</strong> BrandCi v@(System.Configuration.ConfigurationManager.AppSettings["AppVersion"])
            </p>
        </div>
    </div>
</div>