
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/App/Views/Shared/Layout/_Layout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/Plugins/Modals")
}


<div class="row">
    <div class="col-xl-3 col-lg-4">
        <div class="text-center card-box">
            <div class="member-card">
                <div class="thumb-xl member-thumb m-b-10 center-block">
                    <img src="https://content.philipp-moser.de/wlo0t5byw6/UserData/94c87e0c-4c8a-4398-ab25-37a6333de0e0.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                </div>

                <div class="">
                    <h5 class="m-b-5">Philipp C. Moser</h5>
                    <p class="text-muted">Software Entwickler</p>
                </div>

            </div>

        </div> <!-- end card-box -->
    </div> <!-- end col -->

    <div class="col-lg-8 col-xl-9">
        <div class="card m-b-20 card-body">
            <h4 class="card-title">Ändern Sie Ihre Daten</h4>
            <p class="card-text">
                <form role="form">
                    <div class="form-group">
                        <label for="Username">Nutzername</label>
                        <input type="text" value="pmoser" id="Username" class="form-control" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label for="Firstname">Vorname</label>
                        <input type="text" value="Philipp" id="Firstname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Lastname">Nachname</label>
                        <input type="text" value="Moser" id="Lastname" class="form-control">
                    </div>
                    <button class="btn btn-primary waves-effect waves-light w-md" type="submit">
                        <i class="fas fa-save"></i>&nbsp;&nbsp;Speichern
                    </button>
                </form>
            </p>
        </div>

        <div class="card m-b-20 card-body">
            <p class="card-text">
                <a href="#changePasswordModal" data-animation="blur" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a" class="btn btn-primary waves-effect waves-light w-md mt-2 mb-2">
                    <i class="fas fa-fingerprint"></i>&nbsp;&nbsp;Passwort ändern
                </a>
                <a href="#changeEmailModal" data-animation="blur" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a" class="btn btn-primary waves-effect waves-light w-md mt-2 mb-2">
                    <i class="fas fa-envelope"></i>&nbsp;&nbsp;E-Mail Adresse ändern
                </a>
            </p>
        </div>
    </div>

</div>


<div id="changePasswordModal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Passwort ändern</h4>
    <div class="custom-modal-text">
        Beachten Sie unsere Richtlinien zum Erstellen sicherer Passwörter!<br />
        Das neue Passwort muss diesen Richtlinien entsprechen.
        <br /><br />
        <strong>
            Das neue Passwort muss Folgendes enthalten
        </strong>
        <ul>
            <li>Mindestens 8 Zeichen</li>
            <li>Numerische Werte</li>
            <li>Großbuchstaben</li>
            <li>Kleinbuchstaben</li>
        </ul>
        <form role="form">
            <div class="form-group mt-3">
                <label for="currentpassword">Aktuelles Passwort</label>
                <input type="password" value="" id="currentpassword" class="form-control">
            </div>
            <div class="form-group mt-5">
                <label for="newpassword">Neues Passwort</label>
                <input type="password" value="" id="newpassword" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirmnewpassword">Neues Passwort wiederholen</label>
                <input type="password" value="" id="confirmnewpassword" class="form-control">
            </div>
            <button class="btn btn-primary waves-effect waves-light w-md" type="submit">
                <i class="fas fa-fingerprint"></i>&nbsp;&nbsp;Passwort speichern
            </button>
        </form>
    </div>
</div>


<div id="changeEmailModal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">E-Mail Adresse ändern</h4>
    <div class="custom-modal-text">
        

        <form role="form">
            <div class="form-group">
                <label for="newemail">Neue E-Mail Adresse</label>
                <input type="email" value="" id="newemail" class="form-control">
            </div>
            <button class="btn btn-primary waves-effect waves-light w-md" type="submit">
                <i class="fas fa-envelope"></i>&nbsp;&nbsp;E-Mail Adresse speichern
            </button>
        </form>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/Plugins/Modals")
}