<h4 class="mt-0">Recover Password</h4>
<p class="text-muted mb-4">Enter your email address and we'll send you an email with instructions to reset your password.</p>

<form action="#">

    <div class="form-group mb-3">
        <label for="emailaddress">Email address</label>
        <input class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">
    </div>

    <div class="form-group mb-0 text-center">
        <button class="btn btn-primary waves-effect waves-light btn-block" type="submit"> Reset Password </button>
    </div>

</form>

<footer class="footer footer-alt">
    <p class="text-muted">Back to <a routerLink="/Auth/Login" class="text-primary ml-1"><b>Log in</b></a></p>
</footer>