<appSettings>

  <add key="AppVersion" value="2.0.0.77" />


  <!-- Email Smtp -->
  <add key="EmailSubjectDefault" value="$(AppSetting_EmailSubjectDefault)" />
  <add key="EmailAccount" value="$(AppSetting_EmailAccount)" />
  <add key="EmailPassword" value="$(AppSetting_EmailPassword)" />
  <add key="EmailSmtpHost" value="$(AppSetting_EmailSmtpHost)" />
  <add key="EmailSmtpPort" value="$(AppSetting_EmailSmtpPort)" />


  <!-- System -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

</appSettings>