<appSettings>

  <add key="AppVersion" value="2.0.0.66" />


  <!-- Email Smtp -->
  <add key="EmailSubjectDefault" value="" />
  <add key="EmailAccount" value="" />
  <add key="EmailPassword" value="" />
  <add key="EmailSmtpHost" value="" />
  <add key="EmailSmtpPort" value="" />


  <!-- System -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

</appSettings>