<appSettings>

  <!-- Social Logins -->
  <add key="IsSocialFacebookEnabled" value="$(Social_FacebookEnabled)" />
  <add key="SocialFacebookAppId" value="$(Social_FacebookAppId)" />
  <add key="SocialFacebookAppSecret" value="$(Social_FacebookAppSecret)" />


  <!-- Email Smtp -->
  <add key="EmailSubjectDefault" value="$(AppSetting_EmailSubjectDefault)" />
  <add key="EmailAccount" value="$(AppSetting_EmailAccount)" />
  <add key="EmailPassword" value="$(AppSetting_EmailPassword)" />
  <add key="EmailSmtpHost" value="$(AppSetting_EmailSmtpHost)" />
  <add key="EmailSmtpPort" value="$(AppSetting_EmailSmtpPort)" />
  <add key="EmailReceiver" value="$(AppSetting_EmailReceiver)" />

</appSettings>
