<appSettings>

  <!-- Environment-->
  <add key="Environment" value="" />

  <!-- Social Logins -->
  <add key="IsSocialFacebookEnabled" value="" />
  <add key="SocialFacebookAppId" value="" />
  <add key="SocialFacebookAppSecret" value="" />

  <!-- Notification -->
  <add key="MailgunApiBasicUrl" value="" />
  <add key="MailgunApiSiteName" value="" />
  <add key="MailgunApiPrivateKey" value="" />
  <add key="MailgunApiSender" value="" />
  <add key="DefaultNotificationReceiver" value="" />

  <!-- Email Smtp -->
  <add key="EmailSubjectDefault" value="" />
  <add key="EmailAccount" value="" />
  <add key="EmailPassword" value="" />
  <add key="EmailSmtpHost" value="" />
  <add key="EmailSmtpPort" value="" />
  <add key="EmailReceiver" value="" />

  <!-- Google ReCaptcha v3 -->
  <add key="ReCaptchaActive" value="" />
  <add key="ReCaptchaSiteKey" value="" />
  <add key="ReCaptchaSecretKey" value="" />

  <!-- Azure Blob Storage -->
  <add key="BlobStorageContainer" value="" />

</appSettings>
