<appSettings>

  <!-- Environment-->
  <add key="Environment" value="" />

  <!-- Social Logins -->
  <add key="IsSocialFacebookEnabled" value="" />
  <add key="SocialFacebookAppId" value="" />
  <add key="SocialFacebookAppSecret" value="" />


  <!-- Email Smtp -->
  <add key="EmailSubjectDefault" value="" />
  <add key="EmailAccount" value="" />
  <add key="EmailPassword" value="" />
  <add key="EmailSmtpHost" value="" />
  <add key="EmailSmtpPort" value="" />
  <add key="EmailReceiver" value="" />

</appSettings>
