.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 5%;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.auth-custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .auth-custom-checkbox {
    background-color: #ccc;
}

.container input:checked ~ .auth-custom-checkbox {
    background-color: #191eae;
}

.auth-custom-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .auth-custom-checkbox:after {
    display: block;
}

.container .auth-custom-checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.alert-summary.alert > ul > li,
.validation-summary-errors > ul > li {
    list-style-type: none;
}


a.ibtn {
    background-color: #191eae;
    color: #fff;
    -webkit-box-shadow: 0 0 0 rgba(80, 182, 255, 0.31);
    box-shadow: 0 0 0 rgba(80, 182, 255, 0.31);
    border-radius: 6px;
    border: 0;
    padding: 6px 28px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.ibtn:hover, a.ibtn:focus {
    -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

p.status-badge {
    text-align: center !important;

    i {
        font-size: 100pt;

        &.success {
            color: #4dbd10;
        }

        &.error {
            color: #db5341;
        }
    }
}
